<div class='panel panel-primary' *ngIf='product'>
  <div class='panel-heading'>
    Product Selected: {{product.productName}}
  </div>

  <div class="table-responsive">
    <table class='table'>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{product.productName}}</td>
        </tr>
        <tr>
          <td>Code</td>
          <td>{{product.productCode}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{product.description}}</td>
        </tr>
        <tr>
          <td> Availability</td>
          <td>{{product.releaseDate}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr>
          <td>Rating</td>
          <td>
            <pm-star [rating]='product.starRating'></pm-star>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBackButtonClicked()' style='width:80px'>< Back</a> 
  </div>
</div>